* {
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../assets/canalsBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin: 0;
    padding: 0;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
    position: -webkit-sticky; /*safari sticky navbar*/
    position: sticky;
}

.navBar li {
    float: left;
    border-right: 1px solid black;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: darkcyan;
}

.navBar .active {
    background-color: darkcyan;
}

.productContainer {
    text-align: center;
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 250px;
    margin-left: 250px;
    border: 1px solid red;
    background-color: rgb(79, 168, 219);
}

.productContainer .productList {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    background-color: rgb(127, 151, 165);

}

.productContainer .productList .productBox {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(154, 163, 172);
    padding: 20px;
    margin: 20px;
}

.productContainer .productList .productBox .productImage img {
    box-sizing: border-box;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 112px;
    height: 112px;
    left: 0px;
    margin-right: 20px;
    line-height: 30px;
    font-size: 20px;
    border-image-source: none;
    border-image-width: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.productContainer .productList .productBox .productText {
    
}

.productContainer .productList .productBox .productCost {
    margin-left: 40px;
}

footer {
    display: flex;
    margin-top: 50px;
    padding: 3px;
    bottom: 0;
    width: 100%;
    background-color:darkgrey;
    text-align: center;
    position: fixed;
}

.footerAddress {
    
}