* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.picContainer {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.32), rgba(117, 19, 93, 0.73));
}

.picContainer img {
    position: relative;
    width: 100%;
    z-index: -1;
}

.borderBox {
    border-style: solid;
}

.skewBox {
    position: relative;
    height: auto;
    width: auto;
    background: #000;
    float: left;
}

.skewBox:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #000;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -50px;
  }

  .skewBox::before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid #000;
    border-left: 50px solid transparent;
    border-right: 0px solid #000;
    position: absolute;
    top: -50px;
    left: -50px;
  }

.left, .right {
    position: relative;
    height: 100px;
    width: 200px;
    background: #000;
    float: left;
  }
  
  .left:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #000;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -50px;
  }
  
  .right {
    margin-left: 60px;
    width: 100px;
  }
  
  .right:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid #000;
    border-left: 50px solid transparent;
    border-right: 0px solid #000;
    position: absolute;
    top: -50px;
    left: -50px;
  }