* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/Stroop_Background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cfe3ff;
    margin: 0;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: #ccc;
}

.wrapper {
    padding: 30px, 0;
}

.container {
    background-color: #ccc;
}

.navButton {
    border-radius: 25px;
    font-size: 2rem;
    padding: 9px 1rem;
    background-color: #ff914d;
    display: block;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.collapsible {
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    padding: 9px 1rem;
    width: 300px;
    background-color: #ff914d;
    text-align: center;
    margin-top: 10px;
}

.collapsible:hover {
    background-color: #ccc;
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-style: none;
    border-color: #ff914d;
    transition: 0.2s ease-out;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.navbar {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backgroundImg {
    display: block;
}

#border {
    width: 400px;
    background-color: #cfe3ff;
    border-style: solid;
    border-width: thick;
    border-color: #ff914d;
    border-radius: 50px;
}

#navbar-logo {
    margin-bottom: 20px;
}

#navbar-logo img {
    height: 390px;
    border-style: none;
    border-width: thick;
    border-radius: 50%;
    border-color: #ff914d;
}

#navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#mb-1 {

}

#mb-2 {
    border-radius: 25px;
    font-size: 2rem;
    background-color: #ff914d;
    display: block;
    width: 300px;
    text-align: center;
    display: none;
    overflow: hidden;
}

#collapsibleMenu {
    text-align: center;
    border-style: solid;
    border-color: #ff914d;
}

#content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}